.details_page{
    margin-top: 100px;
    margin-bottom: 100px;
}
.product_details_content_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
}
.details_content_image{
    padding: 30px;
    border: 1px solid #3498DB;
    overflow: hidden;
}
.details_content_image img{
    width: 70%;
    display: block;
    margin: auto;
    transition: .5s;
}
.details_content_image:hover img{
    transform: scale(150%);
    cursor: zoom-in;
}
.details_content_content_info h2{
    color: #444;
    margin-bottom: 10px;
}
.details_content_content_info h2 span{
    color: #3498DB;
}
.details_ratings{
    margin-top: 30px;
}
.details_ratings i{
    color: orange;
}
.details_ratings span{
    margin-left: 10px;
}
.details_content_content_info button{
    margin-top: 40px;
    padding: 10px 20px;
    border: none;
    background-color: #3498DB;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.details_content_content_info p{
    margin-top: 40px;
}
/* .multi_image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    width: 70%;
    margin: 20px auto;
}
.multi_image_img img{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid #3498DB;
    height: 60px;
} */

/* Responsive part start here */

@media (max-width: 900px){
    .product_details_content_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .details_content_image{
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
}
@media (max-width: 475px){
    .details_content_image{
        width: 90%;
    }
    .details_content_content_info h2{
        font-size: 23px;
    }
    .details_content_content_info p{
        font-size: 14px;
        line-height: 20px;
    }

}