.details_page{
    margin-top: 100px;
    margin-bottom: 100px;
}
.product_details_content_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
}
.details_content_image{
    padding: 30px;
    border: 1px solid #3498DB;
    overflow: hidden;
}
.details_content_image img{
    width: 70%;
    display: block;
    margin: auto;
    transition: .5s;
}
.details_content_image:hover img{
    transform: scale(150%);
    cursor: zoom-in;
}
.details_content_content_info h2{
    color: #444;
    margin-bottom: 10px;
}
.details_content_content_info h2 span{
    color: #3498DB;
}
.details_ratings{
    margin-top: 30px;
}
.details_ratings i{
    color: orange;
}
.details_ratings span{
    margin-left: 10px;
}
.details_content_content_info button{
    margin-top: 40px;
    padding: 10px 20px;
    border: none;
    background-color: #3498DB;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.details_content_content_info p{
    margin-top: 40px;
}
/* .multi_image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    width: 70%;
    margin: 20px auto;
}
.multi_image_img img{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid #3498DB;
    height: 60px;
} */

.tabs{
    display: flex;
}
.tab_section{
    width: 90%;
    margin: 100px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    justify-content: space-evenly;
}
.tab_section .tab{
    width: 20%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 9px 20px;
    cursor: pointer;
}
.tab_content{
    padding: 30px;
}
.tab_content h2{
    color: #444;
    font-size: 20px;
    margin-bottom: 20px;
}
.tab_content p{
    font-size: 15px;
    line-height: 25px;
    color: #444;
}
.content{
    display: none;
}
.active_content{
    display: block !important;
}
.active_tab{
    background-color: #3498DB;
    color: #fff;
    border: none !important;
}
.tab_content h5{
    color: #444;
    font-size: 20px;
    margin-bottom: 10px;
}
.tab_content textarea{
    width: 50%;
    height: 180px;
    border-radius: 4px;
    border: 1px solid #3498DB;
    padding: 8px;
    font-size: 12px;
    text-transform: capitalize;
}
.tab_content h3 span{
    color: #3498DB;
}
.tab_content textarea:focus{
    outline: none;
}
.tab_content button{
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #3498DB;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.comments_content img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile_info{
    display: flex;
}
.comments_content h6{
    margin-top: 10px;
    font-size: 14px;
}
.comments_content p{
    margin-left: 40px;
    font-size: 12px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 40%;
    margin-top: 10px;
}
/* Responsive part start here */

@media (max-width: 900px){
    .product_details_content_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .details_content_image{
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
}
@media (max-width: 800px){
    .tab_section{
        width: 100%;
    }
    .comments_content p{
        width: 70%;
    }
    .tab_content textarea{
        width: 70%;
        height: 170px;
    }
}
@media (max-width: 575px){
    .tab_section .tab{
        width: 33.6%;
    }
    .comments_content p{
        width: 90%;
        margin-left: 0;
    }
    .tab_content textarea{
        width: 90%;
        height: 180px;
    }
}
@media (max-width: 475px){
    .details_content_image{
        width: 90%;
    }
    .details_content_content_info h2{
        font-size: 23px;
    }
    .details_content_content_info p{
        font-size: 14px;
        line-height: 20px;
    }
    .tab_content textarea{
        width: 100%;
        height: 160px;
    }
    .tab_content{
        padding: 15px;
    }
    .tab_content h5{
        font-size: 17px;
    }
    .tab_content h2{
        font-size: 17px;
    }
    .tab_content p{
        font-size: 13px;
        line-height: 23px;
    }
    .comments_content p{
        width: 100%;
    }

}
@media (max-width:425px){
    .tabs .tab{
        font-size: 14px;
    }
}