.shop_page{
    margin-top: 80px;
    margin-bottom: 100px;
}
.brand_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.pacage_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.catagory_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.new_product_page{
    margin-top: 80px;
    margin-bottom: 50px; 
}