.shop_page{
    margin-top: 80px;
    margin-bottom: 100px;
}
.brand_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.pacage_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.catagory_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.new_product_page{
    margin-top: 80px;
    margin-bottom: 50px; 
}
.day_of_deals_today_section{
    margin-top: 80px;
    margin-bottom: 50px; 
}
.customar_review_section{
    margin-top: 100px;
    margin-bottom: 50px; 
}

/* Responsive part start here */

@media (max-width: 700px){
    .carousel_section{
        width: 95%;
        margin: auto;
    }
}
@media (max-width: 425px){
    .carousel_section{
        width: 92%;
        margin: -20px auto;
    }
}
@media (max-width: 340px){
    .carousel_section{
        width: 90%;
    }
}