.pacage_product_details{
    margin-top: 150px;
    margin-bottom: 100px;
}
.pacage_details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
}
.pacage_details_content{
    padding: 20px;
    border: 1px solid #3498DB;
}
.pacage_details_content img{
    width: 70%;
    display: block;
    margin: auto;
}
.pacage_details_content_container h3{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #444;
}
.pacage_details_content_container h3 span{
    color: #3498DB;
}
.pacage_details_content_container h4{
    font-size: 25px;
    margin-bottom: 20px;
    color: #444;
}
.pacage_details_content_container h4 span{
    color: #3498DB;
}
.pacage_details_ratings{
    margin-top: 30px;
}
.pacage_details_ratings i{
    color: orange;
}
.pacage_details_ratings span{
    margin-left: 10px;
}
.pacage_details_content_container p{
    margin-top: 40px;
}

/* Responsive part start here */

@media (max-width: 768px){
    .pacage_details{
        grid-template-columns: repeat(1, 1fr);
    }
    .pacage_product_details{
        margin-top: 100px;
    }
    .pacage_details_content img{
       height: 300px
    }
}
@media (max-width: 475px){
    .pacage_product_details{
        margin-top: 80px;
    }
    .pacage_details_content img{
       height: 200px;
       width: 70%
    }
    .pacage_details_content_container h3{
        font-size: 23px;
    }
    .pacage_details_content_container p{
        font-size: 14px;
        line-height: 25px;
    }
    .pacage_details_content_container h4{
        font-size: 23px;
    }
}
@media (max-width: 375px){
    .pacage_details_content img{
       height: 180px;
       width: 70%
    }
    
}