.catagory_page{
    margin-top: 100px;
    margin-bottom: 100px;
}
.catagory_page h3{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #444;
    font-size: 30px;
}
.product_content_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product_content_item{
    width: 18%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #3498DB;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
.product_content_item img{
    width: 50%;
    height: 70px;
    display: block;
    margin: auto;
    transition: .2s;
}
.product_content_item h5{
    margin-top: 15px;
    color: #444;
    text-align: center;
}
.product_content_item p{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
    color: #3498DB;
    font-weight: 500;
}
.product_content_item div{
    display: flex;
    margin-top: 10px;
}
.product_content_item div del{
    width: 40%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
    color: #777;
}
.product_content_item div span{
    width: 60%;
    color: #3498DB;
    font-weight: 500;  
}
.product_ratings{
    margin-top: 10px;
}
.product_ratings i{
    font-size: 12px;
    color: orange;
}
.product_ratings span{
    color: #444 !important;
    font-size: 13px;
    margin-left: 5px;
}
.add_to_cart_details_btn{
    display: flex;
    justify-content: space-evenly;
}
.add_to_cart_details_btn button{
    width: 48%;
    padding: 7px;
    border-radius: 2px;
    border: none;
    background-color: #3498DB;
    color: #fff;
}
.add_to_cart_details_btn button a{
    color: #fff;
}
.heart_icon{
    position: absolute;
    top: 2px;
    left: 10px;
}
.heart_icon i{
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: .2s;
}
.product_content_item:hover img{
    transform: scale(1.2);
}
.product_content_item:hover .heart_icon i{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.filter_product{
    width: 60%;
    margin: auto;
    border: 1px solid #3498DB;
}
.filter_product h4{
    padding: 15px;
    text-align: center;
    background-color: #3498DB;
    color: #fff;
    font-size: 18px;
}
.filter_item_content{
    padding: 20px;
}
.filter_item_content input{
   margin-bottom: 20px;
   margin-right: 10px;
   
}
.filter_item_content span{
    font-weight: 500;
    color: #444;
    font-size: 14px;
    line-height: 0;
}
.filter_item_content input[type="range"]{
    display: block;
    width: 50%;
}
.filter_item_content label{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn{
    margin-top: 10px;
}

/* Responsive part start here */
@media (max-width: 1150px){
    .product_content_item img{
        height: 60px;
    }
    .add_to_cart_details_btn button{
        padding: 6px;
    }
}
@media (max-width: 1024px){
    .product_content_item img{
        height: 70px;
    }
    .add_to_cart_details_btn button{
        padding: 7px;
    }
    .product_content_item{
        width: 23%;
    }
}

@media (max-width: 768px){
    .product_content_item img{
        height: 80px;
    }
    .product_content_item{
        width: 31%;
    }
}

@media (max-width: 600px){
    .product_content_item img{
        height: 60px;
    }
    .product_content_item{
        width: 32%;
    }
}
@media (max-width: 575px){
    .product_content_item img{
        height: 80px;
    }
    .product_content_item{
        width: 48%;
    }
    .filter_product{
        width: 90%;
    }
}
@media (max-width: 475px){
    .product_content_item img{
        height: 70px;
    }
    .catagory_page h3{
        font-size: 23px;
        padding: 0 10px;
    }
    .btn{
        padding: 7px 12px;
    }

}
@media (max-width: 425px){
    .product_content_item img{
        height: 55px;
    }
    .add_to_cart_details_btn button{
        padding: 6px;
        font-size: 11px;
        margin-bottom: 5px;
    }
    .product_content_item{
        padding: 5px;
    }
    .filter_product{
        width: 95%;
    }
    .filter_item_content input[type="range"]{
        width: 80%;
    }
    .filter_product h4{
        font-size: 16px;
    }
}
