.related_product_section{
    margin-top: 100px;
}
.related_product_section h3{
    color: #444;
    font-size: 25px;
}

/* Responsive part start here */
@media (max-width: 475px){
    .related_product_section h3{
        font-size: 23px;
    } 
}