.footer_section{
    padding: 50px 20px;
    background-color: #eee;
}
.footer_content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer_content_logo{
    width: 28%;
    margin-top: 10px;
}
.footer_content_logo img{
    width: 60%;
    display: block;
    margin: auto;
    margin-top: -40px;
}
.footer_content_logo p{
    margin-top: 20px;
    text-align: center;
}
.customar_service{
    width: 30%;
}
.customar_service h3{
    font-size: 25px;
    color: #444;
    margin-bottom: 20px;
}
.customar_service a{
    color: #444;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}
.support{
    width: 32%;
}
.support h3{
    font-size: 25px;
    color: #444;
    margin-bottom: 20px;
}
.support p{
    margin-bottom: 20px;
}
.support i{
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3498DB;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}
.payment_method{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    margin-top: 20px;
}
.payment_method img{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    height: 70px
}

/* Responsive part start here */
@media (max-width: 1200px){
    .footer_content_logo{
        margin-top: 20px;
    }
}
@media (max-width: 1150px){
    .payment_method{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2%;
    }
}
@media (max-width: 992px){
    .footer_content_logo{
        width: 48%;
    }
    .customar_service{
        width: 48%;
        margin-top: 30px;
    }
    .support{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .payment_method{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;
        width: 50%;
        margin: 30px auto;
    }
    .payment_method img{
        height: 100px;
    }
    .footer_section{
        padding: 50px 20px 130px 20px;
    }

}
@media (max-width: 900px){
    .customar_service{
        margin-top: 28px;
    }
}
@media (max-width: 900px){
    .customar_service{
        margin-top: 23px;
    }
}
@media (max-width: 768px){
    .customar_service{
        margin-top: 18px;
    }
    .payment_method{
        width: 60%;
    }
    .payment_method img{
        height: 80px;
    }
}
@media (max-width: 700px){
    .customar_service{
        margin-top: 15px;
    }
}
@media (max-width: 650px){
    .customar_service{
        margin-top: 12px;
    }
    .payment_method{
        width: 70%;
    }
}
@media (max-width: 600px){
    .customar_service{
        margin-top: 0px;
    }
}
@media (max-width: 575px){
    .footer_content_logo{
        width: 100%;
    }
    .customar_service{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .support{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }

}
@media (max-width: 525px){
    .payment_method{
        width: 80%;
    }
}
@media (max-width: 475px){
    .footer_content_logo img{
        width: 50%;
    }
    .footer_content_logo p{
        font-size: 14px;
        margin-top: 10px;
    }
    .customar_service h3{
        font-size: 23px;
    }
    .customar_service a{
        font-size: 14px;
    }
    .support h3{
        font-size: 23px;
    }
    .support p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .support i{
        margin-top: 10px;
    }

}
@media (max-width: 450px){
    .payment_method{
        width: 100%;
    }
    .payment_method img{
        height: 70px;
    }
}
@media (max-width: 375px){
    .payment_method img{
        height: 60px;
    }
    .footer_content_logo img{
        width: 60%;
    }
}